@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './components/' as *;

body {
  position: relative;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  height: 100vh;

  &__bg-video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    width: 100;
    height: 100%;
    background-color: var(--clr-overlay);
    z-index: 1;
  }

  &__logo-mobile {
    @include position($pos: absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
    width: 20rem;
    z-index: 2;

    @include respond(sm) {
      width: 30rem;
    }

    @include respond(lg) {
      display: none;
    }
  }

  &__arrow-down {
    @include position($pos: absolute, $bottom: 5rem, $left: 50%);
    transform: translate(-50%, -5rem);
    z-index: 50;
    width: 3rem;
    animation: MoveUpDown 1.5s linear infinite;
  }
}

.section {
  @include flex-config($align: center);
  position: relative;
  background-color: var(--bg-clr-primary);
  color: var(--clr-dark);

  @include respond(lg) {
    min-height: 100vh;
    padding: 0;
  }
}

.row {
  @include flex-config($direction: column-reverse, $align: center);
  padding: var(--row-padding);

  @include respond(lg) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.column {
  @include flex-config($direction: column, $justify: center, $align: center);

  @include respond(md) {
    width: 80%;
  }

  @include respond(lg) {
    width: 40%;
  }

  &__img {
    width: 50%;

    @include respond(lg) {
      width: 90%;
    }
  }
}

.column-text {
  @include flex-config($direction: column, $align: center);

  @include respond(lg) {
    @include flex-config($direction: column, $align: flex-start);
  }

  &__heading {
    font-size: var(--fs-heading);
    padding: 2rem 0;
    margin-top: 7rem;
    text-align: center;
    letter-spacing: 0.1rem;

    @include respond(md) {
      margin-top: 5rem;
    }

    @include respond(lg) {
      margin-top: 0;
    }
  }

  &__paragraph {
    font-family: 'EB Garamond', serif;
    font-size: var(--fs-text);
    line-height: var(--lh-paragraph);
    font-style: var(--fst-italic);
    text-align: justify;

    &:not(:first-of-type) {
      margin-top: 1.5rem;
    }
  }

  .text-center {
    text-align: center;
    width: 100%;
  }

  .-mt-2 {
    margin-top: -0.2rem;
  }

  &__img-paragraph {
    margin-top: 4rem;
    text-align: center;
  }

  &__link {
    width: 100%;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    margin-top: 1rem;
    transition: transform 0.2s ease;

    &:hover {
      color: #777777;
    }
  }

  &--mashines {
    margin-top: 5rem;
  }
}

.section-swiper {
  background-color: var(--bg-clr-primary);
  height: 100%;

  @include respond(lg) {
    height: 100vh;
  }
}

.map {
  background-image: url('../assets/map-mobile.png');
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
