.mail-message-container {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.contact-message {
  font-size: 1.5rem;
}

.home-link {
  cursor: pointer;
}

@media (min-width: 64em) {
  .mail-message-container {
    padding: 5rem;
  }
}
