@use '../abstracts/' as *;

.footer {
  background-color: var(--bg-clr-primary);
  padding: 20rem 0;
}

.map {
  @include flex-config($justify: center);
  position: relative;

  &__map-img {
    transform: scale(1.1);

    @include respond(md) {
      transform: scale(1);
      margin-right: 0;
    }
  }
}

.footer-info {
  margin-top: 10rem;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);

  @include respond(md) {
    display: flex;
    text-align: left;
  }
}

.footer-contact {
  &:not(:first-of-type) {
    margin-left: 10rem;
  }

  &__heading {
    padding: 4rem 0;

    @include respond(md) {
      padding: 0;
      padding-bottom: 2rem;
      font-weight: var(--fw-bold);
    }
  }

  &__paragraph {
    padding: 0.5rem 0;
  }
}
