@use '../abstracts/' as *;

.form-container {
  display: none;

  @include respond(md) {
    display: block;
    @include position($pos: absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
    width: 35rem;
    background-color: var(--clr-light-white);
    margin-left: 25rem;
    padding: 4rem 3rem 10rem 3rem;
    border-radius: 1rem;
  }

  @include respond(lg) {
    width: 50rem;
    margin-left: 23rem;
    padding: 5rem 5rem 10rem 5rem;
  }
}

.form-container--modal {
  display: block;
  position: initial;
  width: 90%;
  background-color: var(--clr-light-white);
  transform: translate(0);
  margin-left: 0;
  padding: 5rem 2rem 10rem 2rem;
  border-radius: 1rem;

  @include respond(sm) {
    width: 60%;
    padding: 5rem 7rem 10rem 7rem;
  }

  @include respond(md) {
    width: 40%;
  }

  @include respond(lg) {
    width: 50rem;
  }
}

.form-group {
  @include flex-config($direction: column);
  gap: 3rem;

  &__form-field {
    width: 100%;
    font-size: 1.8rem;
    color: var(--clr-black);
    padding: 1.5rem 0 1rem 0;
    border: 0;
    border-bottom: 1px solid var(--clr-black);
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;

    @include respond(lg) {
      padding: 1.5rem 0 1rem 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }

    &::placeholder {
      font-size: 1.5rem;
      color: var(--clr-black);
      letter-spacing: 0.1rem;
      font-weight: var(--fw-medium);
      transition: transform 0.2s;
    }

    &:focus {
      color: hsl(0, 1%, 32%);

      &::placeholder {
        transform: translateY(-20px);
        color: hsl(0, 0%, 50%);
      }
    }
  }

  small {
    font-size: 1.1rem;
    margin-top: -2.2rem;
  }

  &__submit-btn {
    width: fit-content;
    background-color: var(--clr-dark);
    color: var(--clr-light-white);
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem 4rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    letter-spacing: 0.1rem;
    transition: transform 0.2s ease;
    cursor: pointer;

    @include respond(sm) {
      font-size: 1.2rem;
    }

    &:hover {
      transform: translateY(5px);
    }
  }
}

.form-input-container {
  @include flex-config($direction: column);
  gap: 3rem;

  @include respond(lg) {
    padding: 1rem 0;
  }
}
