@use '../abstracts/' as *;

.pagination {
  display: none;

  @include position($pos: fixed, $top: 50%, $right: 2em);
  transform: translate(-2rem, -50%);
  z-index: 999;

  &__bullet {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #808080;
    border-radius: 50%;
  }

  @include respond(md) {
    @include flex-config($direction: column);
    gap: 1.5rem;
  }
}

.active-bullet {
  background-color: #ffffff;
}
