@use '../abstracts/' as *;

:root {
  --bg-clr-primary: hsl(41, 18%, 76%);
  --clr-light-white: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark: hsl(0, 0%, 13%);
  --clr-overlay: hsla(0, 0%, 1%, 0.3);

  --fs-heading: clamp(1.8rem, 2vw, 3rem);
  --fs-text: clamp(1.7rem, 2vw, 2.3rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --fst-italic: italic;
  --lh-paragraph: 1.5;

  --row-padding: 7rem 3rem;
}
